body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.containerOne {
  display: 'grid';
  grid-template-columns: 'repeat(12, 1fr)';
  grid-gap: spacing(3);
}

.Collapsible {
  text-align: left;
  text-indent: 1%;
}

.Collapsible__contentOuter {
  /* border-bottom: 1px solid lightgrey; */
  display:block;
}

.Collapsible__contentInner {
  text-align: left;
}

.icon {
  display: inline-block;
  float: right;
}

.rotate90 {
  transform: rotateZ(90deg);
}
