body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.containerOne {
  display: 'grid';
  grid-template-columns: 'repeat(12, 1fr)';
  grid-gap: spacing(3);
}

.Collapsible {
  text-align: left;
  text-indent: 1%;
}

.Collapsible__contentOuter {
  /* border-bottom: 1px solid lightgrey; */
  display:block;
}

.Collapsible__contentInner {
  text-align: left;
}

.icon {
  display: inline-block;
  float: right;
}

.rotate90 {
  transform: rotateZ(90deg);
}

/* html { 
  background: url(https://i.pinimg.com/originals/76/39/49/7639492a081f0b653a416e7b19368ba3.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */

body, html {
  background: url(https://i.pinimg.com/originals/76/39/49/7639492a081f0b653a416e7b19368ba3.png) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: auto;
}